<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{% link index.html %}}">
                <img src="/assets/images/hero.png">
            </a>
            {% for item in site.data.navigation %}
                <a class="navbar-item{% if page.url == item.link %} is-active{% endif %}" href="{{item.link}}" >
                    {{item.name}}
                </a>
            {% endfor %}
        </div>
    </div>
</nav>