<!DOCTYPE html>
<html lang="en" class="has-background-dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
        <link rel="stylesheet" href="/assets/css/fruity.css">
        <link rel="icon" href="/favicon.ico" sizes="any" type="image/ico">
    </head>
    <body>
        {% include navigation.html %}
        <div class="columns is-mobile is-centered" style="height:100%;">
            <div class="column is-three-qurters-desktop is-three-quarters-tablet is-full-mobile box" style="margin-top:2%;">
                {{ content }}
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
