<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/simple-grid.css">
        <link rel="stylesheet" href="/assets/css/site.css">
        <style>
            body {
                background-image: url('/assets/images/background.png');
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center center;
            }
        </style>
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
        {% include analytics.html %}
    </body>
</html>
